html{
	font-size: 10px;
}

*{
	box-sizing: border-box;
}

body{
	font-family: 'Signika Negative', sans-serif;
	text-align: center;
	/*line-height: 1.6;*/
}

a{
	text-decoration: none;
}

li {
	list-style-type: none;
}

p{
	line-height: 1.3;
}

img{
	width: 100%;
}

input, select{
	border:none;
}

input.input::placeholder {
    color: #b3b3b3;
    font-size: 18px;
}



.inputs select.dropdown:invalid {
    color: #b3b3b3;
    font-size: 18px;
}

.head {
	font-size: 20px;
}

.text {
	font-size: 16px;
	font-weight: 100;
}

.fas {
    align-self: start;
    padding: 11px 5px;
    color: #dccb00;
}

.cover, .courses, .services, .legacy, .apply {
	display: grid;
	grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto auto;
    padding: 40px 0;
}

.coverCont, .coursesCont, .servicesCont,
.legacyCont, .applyCont {
	display: grid;
	grid-column: 2;
	grid-row: 2;
}

.cover {
	padding-top: 0; 
    background: linear-gradient(to bottom, rgba(44, 67, 111, 0.4), rgba(40, 40, 50, 0.7));
    font-size: 2rem;
    color: white;
}

.headder .companyicon{
    grid-row: 1;
    width: 100%;
    height: 100%;
    grid-column-gap: 10px;
    grid-column: 1/ span 3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: start;
    background: white;
    z-index: 99;
}

.headder .companyicon img{
	height: 70px;
}

.coverCont {
	padding-top: 04px;
}

.coverCont .cover-form {
	display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    background-color: #fff;
}

.coverCont .head {
	align-self: center;
	display: grid;
	grid-row-gap: 40px;
	padding: 12px 0 40px;
}

.cover .head .coverHeading p:first-child {
	font-size: 32px;
} 
.cover .head .coverHeading p:last-child {
	font-size: 40px;
    font-weight: 700;
}

.cover .download.btns .btn {
    width: 40%;
    box-shadow: 2px 2px 2px #591e1e;
    font-size: 15px;
    padding: 12px 12px;
}

.coverCont .details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
}

.coverCont .detail {
    background: #535b6d;
    border-bottom: 2px solid #e6395a;
    padding: 20px 10px;
}

.coverCont .form {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
    padding: 40px 0;
    color: #fff;
    font-size: 24px;
    grid-row-gap: 15px;
}

.coverCont .form .title {
    color: #4b566a;
    font-size: 30px;
    font-weight: 600;
}

.coverCont .inputs, .coverCont .select{
	border-bottom:2px solid white;
}

.coverCont .inputs .input{
	text-indent: 15px;
}

.coverCont .inputs select{
	text-indent: 11px;
}

.coverCont .inputs .input{
  	color: #fff;
}

select{
	color: #fff;
}

.coverCont .inputs .input,
.coverCont .inputs select {
    width: 100%;
    border-bottom: 2px solid #d8d8d8;
    outline: none;
    font-size: 20px;
    padding: 7px 0;
    color: #3d3d3e;
}

.coverCont .inputs option{
	background-color: white;
	color: #3d3d3e;
}

.cover .btns .btn{
	width: 100%;
    box-shadow: 2px 2px 7px 1px #b5b5b5;
    background: #e6395a;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 17px;
    border: 2px solid #e6395a;
}

.cover .btns .btn:hover {
	cursor: pointer;
    color: #e6395a;
    background-color: white;
    box-shadow: 3px 3px 9px 1px #b5b5b5;
}


.cover .overlay{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

.cover .overlay .popupText {
    position: relative;
    background: white;
    color: black;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    text-align: center;
    display: grid;
    grid-row-gap: 20px;
}

.cover .overlay .close {
    position: absolute;
    top: 2px;
    right: 12px;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 12px;
}

.cover .overlay .close a{
	text-decoration: none;
	    cursor: pointer;
}

.courses {
	padding: 40px 0;
}

.coursesCont{
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
}

.coursesCont .labels {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
}

.courses .details, .courses .objective {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.courses .details, .courses .objective, 
.courses .eligibility, .courses .fees {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
}

.courses .text , .courses .ul, .courses .table {
	padding: 10px;
}

.courses .title, .legacyCont .title {
    text-transform: uppercase;
    width: 100%;
    font-size: 26px;
	background-color: #4b566a;
    color: #dedede;
    padding: 10px 0 10px 25px;
    text-align: left;
}

.courses .eligibility .text {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	    text-align: left;
    grid-row-gap: 20px;
}

.courses .text {
	text-align: justify;
	font-size: 18px;
}

.coursesCont label {
    color: #fff;
    padding: 10px 0;
    width: 100%;
	background-color: #e6395a;
	border: 1px solid #e6395a;
    border-radius: 1px;
    box-shadow: 0 0 2px 0 grey;
}

.coursesCont label:hover, .coursesCont label:active {
	cursor: pointer;
	color: #e6395a;
	background-color: #fff;
	cursor: pointer;
	box-shadow: 2px 2px 3px 0 grey;
}

.courses .slide .top{
   	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
}

.coursesCont .slide, .coursesCont input {
	display: none;
}

#mba:checked ~ .slides .mba,
#bba:checked ~ .slides .bba,
#mca:checked ~ .slides .mca,
#bca:checked ~ .slides .bca
 {
	display: grid;
}

#mba:checked ~ .labels label[for="mba"],
#bba:checked ~ .labels label[for="bba"],
#mca:checked ~ .labels label[for="mca"],
#bca:checked ~ .labels label[for="bca"] {
	background: white;
	color: blue;
}

.courses .objective ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 15px;
}

.courses .fees {
	text-align: left;
    font-size: 16px;
    display: grid;
    grid-row-gap: 15px;
}

.courses .tableHead, .courses .installment div:first-child {
	border-right: 2px solid #b9aaaa;
}

.courses .online, .courses .installments {
	display: grid; 
	grid-template-columns: 1fr;
}

.courses .table {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
}

.courses .table p {
	line-height: 35px;
}

.courses .table .catagory:last-child, 
.courses .table .data:last-child{
	border-bottom: 2px solid #b9aaaa;
}

.courses .table .catagory, 
.courses .table .data, 
.courses .table .installment {
	display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #b9aaaa;
    border-bottom: 0;
}

.courses .catagory .tableHead:last-child{
	border-right: none;
	border-left: none;
}

.courses .slide {
	grid-row-gap: 20px;
    box-shadow: 0px 0px 1px 0px #cacaca;
    padding: 20px;
}

.courses .eligibility {
    border-radius: 0;
    display: grid;
    grid-row-gap: 15px;
    justify-items: center;
}

.services .items {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 15px;
}

.services .item {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	align-items: center;
    background: #ffffff;
    box-shadow:	2px 2px 3px #7a7a7a6b;
}

.services .item .head {
	align-items: center;
    display: grid;
    background-color: #4b566a;
    height: 100%;
    color: white;
}

.services .item p {
	line-height: 2.6;
}

.services .item .text {
	font-size: 20px;
}

.apply {
    background:linear-gradient(to bottom, rgba(86, 86, 86, 0.87), rgba(86, 86, 86, 0.8)), url(/svgu/img/apply.jpg);
    background-repeat: no-repeat;
    padding: 20px;
    background-size: cover;
    color: white;
}

.applyCont .title {
	font-size: 32px;
}

.applyCont .text {
	font-size: 20px;
}

.legacyCont {
    box-shadow: 2px 2px 2px 2px #b9b9b9;
}

.legacyCont .head {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}

.legacyCont .text{
	padding: 20px;
}

.legacyCont ul {
	text-align: justify;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-row-gap: 15px;
	padding: 10px;
}

.legacyCont ul li {
    padding: 12px;
    font-weight: 200;
}

.list {
	display: grid;
	grid-template-columns: 7% 97%;
	grid-template-rows: 1fr;
}

.list .text {
	padding: 0 10px;
}


@media screen and (min-width: 768px) {

	.cover {
		grid-template-columns: 5% 94% 1%; 
		background-repeat: no-repeat;
    	background-image: url(img/cover.jpg);
	}

	.coverCont {
		display: grid;
	    grid-template-columns: 1fr 1fr;
	    grid-template-rows: 1fr;
	}

	.coverCont .head{
		padding: 12px 0;
	}

	.coverCont .details {
		grid-template-columns: 1fr 1fr 1fr;
		padding-right: 20px;
	}

	.services .itema {
		grid-template-columns: 1fr 1fr 1fr;
		 grid-template-rows: 1fr;
		 grid-column-gap: 15px;
	}

	.coursesCont .labels {
    	grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 25px;
	}

	.courses .fees{
		text-align: center;
	}

	.courses .online {
		grid-template-columns: 1fr 3fr 1fr;
	}

	.courses .installments {
		grid-template-columns: 1fr 4fr 1fr;
	}

	.courses .eligibility .text {
		display: grid;
	    padding: 10px 50px;
	    grid-template-rows: 1fr;
	    grid-template-columns: 5fr 3fr;
	    grid-column-gap: 20px;
	}

	.courses .table .catagory div:first-child, 
	.courses .table .data div:first-child, 
	.courses .table .installment div:first-child{
		border-right: 2px solid #b9aaaa;
	}

	.courses .table .catagory, 
	.courses .table .data, 
	.courses .table .installment  {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		border: 2px solid #b9aaaa;
	    border-right: 0;
	}

	.courses .table .catagory:last-child, 
	.courses .table .data:last-child, 
	.courses .table .installment:last-child{
		border-right: 2px solid #b9aaaa;
	}

	.courses .table .oneTime {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 1fr;
	}

	.courses .table .oneTime .catagory{
		grid-template-columns: 1fr;
	}

	.courses .table .installments {
		display: grid;
	    grid-template-rows: 1fr;
	}

	.courses .mba .table .installments {
		display: grid;
	    grid-template-columns: repeat(6, 1fr);
	    grid-template-rows: 1fr;
	}


	.courses .mba .table .installments{
		grid-template-columns: repeat(6, 1fr);
	}

	.courses .bba .table .installments,
	.courses .bca .table .installments,
	.courses .mca .table .installments{
		grid-template-columns: repeat(8, 1fr);
	}

	.courses .table .tableDetail {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.courses .table .tableSub {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
    	grid-template-rows: 1fr;
	}

	.courses .table .catagory div:first-child, 
	.courses .table .data div:first-child, 
	.courses .table .installment div:first-child{
		border-right: none;
		border-bottom: 2px solid #b9aaaa;
	}

	.apply {
		padding: 50px;
	}

	.applyCont {
		display: grid;
    	grid-template-columns: 1fr 4fr 1fr;
	}

	.applyCont .head{
		grid-column: 2;
	}

	.services .items {
	    grid-template-columns: 1fr 1fr 1fr;
	    grid-template-rows: 1fr;
    	grid-column-gap: 15px;
	}

	.list {
		grid-template-columns: 3% 97%;
		align-items: center;
	}

	.fas {
	    align-self: start;
    	padding: 15px;
	}
}

@media screen and (min-width: 992px) {

	.coverCont {
		grid-template-columns: 60% 40%;
	}

	.courses .slide .top {
		grid-column-gap: 30px;
	}

	.courses .slide .title {
		text-align: left;
		width: ;
	}

}

